
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StringGame</title>
    <title>StringGame</title>
</head>
<body>

Welcome to String Game !!
<form method="post" action="/result/">
    <br>
{% csrf_token %}
    <textarea name="text" style="width: 383px; height: 78px;"> </textarea>
    <br>
    <input type="checkbox" name="cap" value="on"> Capatalize <br>
    <input type="checkbox" name="small" value="on"> DeCapatalize <br>
    <input type="checkbox" name="punc" value="on"> Remove Punctuation <br>
    <input type="checkbox" name="space" value="on"> Remove Space<br>
<br>
    <br>


    <button type="submit" name="Analyze"> Proceed </button>
</form>
</body>
</html>